---

---

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Sidney Silva</title>
	</head>
	<style>
		body {
			font-family: Arial, sans-serif;
			margin: 0;
			padding: 0;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			height: 100vh;
			background-color: #193721;
			color: #ffffff;
		}
		a {
			color: rgb(145, 255, 0);
			text-decoration: none;
		}
		h1 {
			font-size: 2rem;
			margin-bottom: 1rem;
		}
		p {
			font-size: 1rem;
		}
	</style>
	<body>
		<h1>En desarrollo...</h1>
		<p>Visita <a href="https://github.com/sxdny">sxdny</a> en Github. </p>
	</body>
</html>
